.result-success {
  height: 20px;
  width: 250px;
  margin-top: 20px;
  background-color: #77af77;
}

.result-error {
  background-color: #ec6868;
  height: 100px;
  width: 250px;
  margin-top: 20px
}

.uppercase {
  text-transform: uppercase;
}

.margin {
  margin-left: 10px;
}
